.css_tutao_body {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 16px;
}
.css_menu_tutao {
    font-family: Mali;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 62px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #000;
}
.css_btneditworklist {
    padding-left: 5px;
    background: #51C0F0;
    border-radius: 15px;
    width: 120px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
    display: inline-block;
}
.css_deleteworklist {
    padding-left: 5px;
    background: #F05151;
    border-radius: 15px;
    width: 120px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
}
.css_deleteworklist input{
    border:0px;
}
.css_btndeleteworklist {
    display: inline-block;
    background: #F05151;
    width: 100%;
    height: 100%;
    border:0px;
}
.css_addworklist {
    text-align: center;
    width: 30%;
    background: #04C3ED;
    border-radius: 25px;
    height: 30px;
    display: inline-block;
    padding-top: 6px;
}
.css_cont_menu {
    float: left;
    overflow-y: scroll;
    width: 200px;
    height: 400px;
}
 .css_cont_menu::-webkit-scrollbar {
       display: none;
  }
.css_cont_menu {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
#submit_logout {
    background:#F2F2F2;
    width: 100px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.css_back {
    text-align: center;
    width: 100px;
    height: 30px;
    background: #F2F2F2;
    padding-top: 7px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom:10px;
}
.css_back a{
    width:100%;
    height:100%;
}
.css_addwork {
    float: left;
    padding-top: 5px;
    background: #04C3ED;
    width: 150px;
    text-align: center;
    height: 30px;
    border-radius: 15px;
}
    .css_addwork a{
        width:100%;
        height:100%;
    }
    .css_addemployee {
        float: left;
        padding-left: 5px;
        margin-left: 5px;
        background: #CEE3F6;
        width: 200px;
        height: 30px;
        text-align: center;
        border-radius: 15px;
    }
    .css_addemployee button{
        width:100%;
        height:100%;
    }
    .css_viewemployee {
        float: left;
        margin-left: 5px;
        background: #DA81F5;
        width: 220px;
        height: 30px;
        
        text-align: center;
        border-radius: 15px;
    }
.css_viewemployee button
{
    width:100%;
    height:100%;
}
.css_workinworklist {
    padding-top: 10px;
    margin-top: 5px;
    float: left;
    width: 100%;
    background: #F2F2F2;
    color: black;
}
.css_deletework {
    float: left;
    margin-left: 5px ;
    padding-left: 5px;
    background: #F05151;
    border-radius: 15px;
    width: 120px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
}
.css_deletework input {
    background: #F05151;
    display:inline-block
}
.css_btncanlam {
    float: left;
    margin-left: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    background: #41d227;
    border-radius: 15px;
    padding-top: 6px;
    margin-bottom: 5px;
}
    .css_btncanlam input {
        display: inline-block;
        background: #41d227;
    }
.css_btndanglam {
    float: left;
    margin-left: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    background: yellow;
    border-radius: 15px;
    padding-top: 6px;
    margin-bottom: 5px;
}
.css_btndanglam input{
    display:inline-block;
    background-color:yellow
}
.css_btndalam {
    float: left;
    margin-left: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    padding-top: 6px;
    margin-bottom: 5px;
    background: #007bff;
}
.css_btndalam input {
    display: inline-block;
    background: #007bff;
}
.css_btntrehan {
    float: left;
    margin-left: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    background: red;
    border-radius: 15px;
    padding-top: 6px;
    margin-bottom: 5px;
}
.css_btntrehan input {
    display:inline-block;
    background:red;
}
.css_workdetails {
    width: 80%;
    height: 300px;
    text-align: left;
    border: 1px solid black;
    clear: both;
    background: #f2f2f2;
}
.css_send {
    float: left;
    background: blue;
    width: 50px;
    height: 22px;
    border-radius: 10px;
    text-align: center;
    padding-top: 1px;
}
.css_send input {
    display:inline-block;
    background:blue;
}
.css_close {
    float: left;
    width: 70px;
    margin-left: 5px;
    padding-top: 2px;
}
.css_close input {
   background:white;
   display:inline-block;
}
.css_btn {
    background-color: #58257b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    padding-top: 7px;
    border-radius: 15px;
    text-align: center;
    margin-top: 5px;
}
#css_xemlist {
    width: 250px;
    height: 30px;
    background: #ded5f5;
    text-align: center;
    padding-top: 5px;
    border-radius: 15px;
    color: black;
}


