@model TourMVC.Models.DoanKhachHang

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thêm Mới</h1>

<h4>Đoàn Khách Hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddKhachHang">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Đoàn</label>
                <input class="form-control" value="@ViewBag.DoanId" readonly />
            </div>
            <div class="form-group">
                <label asp-for="KhachHangId" class="control-label"></label>
                <select asp-for="KhachHangId" class="form-control" asp-items="ViewBag.KhachHangId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm Mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở Về</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
