@model TourMVC.Models.TourDoan

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TourDoan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TourId" class="control-label"></label>
                <select asp-for="TourId" class ="form-control" asp-items="ViewBag.TourId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DoanTen" class="control-label"></label>
                <input asp-for="DoanTen" class="form-control" />
                <span asp-validation-for="DoanTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoanNgayDi" class="control-label"></label>
                <input asp-for="DoanNgayDi" class="form-control" />
                <span asp-validation-for="DoanNgayDi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoanNgayVe" class="control-label"></label>
                <input asp-for="DoanNgayVe" class="form-control" />
                <span asp-validation-for="DoanNgayVe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoanChiTiet" class="control-label"></label>
                <input asp-for="DoanChiTiet" class="form-control" />
                <span asp-validation-for="DoanChiTiet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoanGiaTour" class="control-label"></label>
                <input asp-for="DoanGiaTour" class="form-control" />
                <span asp-validation-for="DoanGiaTour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
