@model IEnumerable<TourMVC.Models.ThongKeTour>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Doanh Thu Tour</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TourTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongSoDoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongDoanhThu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongChiPhi)
            </th>
            <th>
                Tổng Lợi Nhuận
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
