@model TourMVC.Models.TourKhachHang

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TourKhachHang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KhachHangId" />
            <div class="form-group">
                <label asp-for="KhachHangTen" class="control-label"></label>
                <input asp-for="KhachHangTen" class="form-control" />
                <span asp-validation-for="KhachHangTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhachHangSoDienThoai" class="control-label"></label>
                <input asp-for="KhachHangSoDienThoai" class="form-control" />
                <span asp-validation-for="KhachHangSoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhachHangEmail" class="control-label"></label>
                <input asp-for="KhachHangEmail" class="form-control" />
                <span asp-validation-for="KhachHangEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhachHangNgaySinh" class="control-label"></label>
                <input asp-for="KhachHangNgaySinh" class="form-control" />
                <span asp-validation-for="KhachHangNgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhachHangChungMinhNhanDan" class="control-label"></label>
                <input asp-for="KhachHangChungMinhNhanDan" class="form-control" />
                <span asp-validation-for="KhachHangChungMinhNhanDan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayTao" class="control-label"></label>
                <input asp-for="NgayTao" class="form-control" />
                <span asp-validation-for="NgayTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
