@model TourMVC.Models.TourLoai

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thêm Mới</h1>

<h4>Loại Tour</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoaiTen" class="control-label"></label>
                <input asp-for="LoaiTen" class="form-control" />
                <span asp-validation-for="LoaiTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiMoTa" class="control-label"></label>
                <input asp-for="LoaiMoTa" class="form-control" />
                <span asp-validation-for="LoaiMoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm Mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở Về</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
